body {
    font-family: 'Space Mono',monospace;
    background-color: #6267af;
}
h1 {
    font-size: 100px;
    line-height: 1;
    font-weight: normal;

}
h2{
    font-size: 50px;
}
p{
    font-size: 20px;
}
div{
    height: 55%;
    margin-left: 100px;
    margin-top: 300px; 
}
span {
    text-shadow: 0 -6.25px #0c2ffb, 0 -12.5px #2cfcfd, 0 6.25px #fb203b,
      0 12.5px #fefc4b;
  }


  .button {
    display: block;
    margin: auto;
    width: 200px;
    height: 100px;
    font-size: 50px;
    border-radius: 10px;
    background-color: #9d26b4;
    margin-top: 75px;
    font-family: 'Space Mono';
    
    
    
  }

  .button:hover{
    background-color: #9d26b4;
    color: #8a8831;

  }